@page "/book/{bookId:int}/edit"
@inherits EditBookBase

<MudBreadcrumbs Items="_breadcrumbItems" Separator=">"/>

<MudText Typo="Typo.h3" GutterBottom="true" Class="mt-2">@Book?.Title</MudText>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudTextField T="string" Label="Title" HelperText="Book Title" @bind-value="model.Title" @bind-text="model.Title" For="@(() => model.Title)"/>
    <MudTextField T="string" Label="Author" HelperText="Author Name"@bind-value="model.Author" @bind-text="model.Author" For="@(() => model.Author)"/>
    <MudTextField T="int" Label="Year" HelperText="Year published" @bind-value="model.Year"For="@(() => model.Year)"/>
    <MudTextField T="string" Label="Country" HelperText="Country of origin" @bind-value="model.Country" @bind-text="model.Country" For="@(() => model.Country)"/>
    <MudTextField T="string" Label="Language" HelperText="Books language" @bind-value="model.Language" @bind-text="model.Language" For="@(() => model.Language)"/>
    <MudTextField T="int" Label="Stock" HelperText="Books in stock" @bind-value="model.Stock" For="@(() => model.Stock)"/>
    <MudTextField T="string" Label="Imagelink" HelperText="Cover image" @bind-value="model.ImageLink" @bind-text="model.ImageLink" For="@(() => model.ImageLink)"/>
    <MudCardActions>
        <div class="ml-auto">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-3">Update Book</MudButton>
            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Info" @onclick="CancelUpdate">Cancel </MudButton>
        </div>
    </MudCardActions>
</EditForm>
