@page "/books"
@inherits BooksBase

<div class="d-flex">
    <MudText Typo="Typo.h1" Class="align-self-center">Books</MudText>
    <MudSpacer/>
    <MudText Typo="Typo.subtitle1" Class="align-self-center">Total: @PageInfo.Total</MudText>
</div>

<div class="d-flex">
    <MudSelect T="int" Label="Count" Class="w-25 my-5" FullWidth="false" Value="@PageInfo.PageSize" AnchorOrigin="Origin.BottomCenter" ValueChanged="@PageSizeChanged">
        <MudSelectItem Value="@(5)"/>
        <MudSelectItem Value="@(10)"/>
        <MudSelectItem Value="@(20)"/>
        <MudSelectItem Value="@(30)"/>
        <MudSelectItem Value="@(40)"/>
        <MudSelectItem Value="@(50)"/>
    </MudSelect>
    <MudSpacer/>
    <MudButton OnClick="@ApplyFilters" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Class="align-self-center" Style="width: 100px; height: 50px">Search</MudButton>
</div>

<MudGrid Spacing="5" Justify="Justify.FlexStart">
    @{
        if (FetchedBooks.Any())
        {
            @foreach (var book in FetchedBooks)
            {
                <MudItem xs="12" sm="6" md="4" lg="3" xl="2" @onclick="@(() => NavigateToBook(book.Id))">
                    <MudCard Elevation="1">
                        <MudCardContent>
                            <MudCardMedia Image="@book?.ImageLink" Height="400" Title="@book?.Title"/>
                            <MudCardHeader >
                                <CardHeaderContent>
                                    <MudText Align="Align.Start" Typo="Typo.h6">@book.Title</MudText>
                                    <MudText Typo="Typo.body1">@book?.Author</MudText>
                                </CardHeaderContent>
                            </MudCardHeader >
                            <MudText Align="Align.Right" Typo="Typo.body2">In Stock: @book?.Stock pc</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        }
    }
</MudGrid>

<MudPagination Color="Color.Primary" Count="@PageCount" Class="d-flex justify-center my-5" SelectedChanged="@PageChanged"/>